@media (max-width:336px) {
    .cuerdas__div {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;}
    /*CALENDARIO*/
    .calendario__foto{
        height: 300px;
        width: 320px;
    }
    .calendario__iframe{
        height: 350px;
        width: 320px;
    }
    .calendario__div{
        flex-wrap: wrap;
    }
    
/*CONTACTO*/
    .contacto__foto{    
        height: 220px;
        width: 300px;
    }
    .formulario__fieldset{
        margin-left:0.3cm;
        padding-right: 1.2cm;
    }
    .cuerdas__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
    }
}
@media (min-width:360px) and (max-width:416px) {
    /*CALENDARIO*/
    .calendario__foto{
        height: 300px;
        width: 360px;
    }
    .calendario__iframe{
        height: 300px;
        width: 360px;
    }
    .calendario__div{
        flex-wrap: wrap;
    }
    .cuerdas__div {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;}

/*CONTACTO*/
    .contacto__foto{    
        height: 285px;
        width: 360px;
    }
}
@media (min-width:420px) and (max-width:769px) {
    /*CONTACTO*/
    .contacto__foto{    
        height: 480px;
        width: 720px;
        justify-items: center;
    }
    .formulario__fieldset{
        padding-right: 7cm;
        padding-left: 5cm;
        width: 100%;
        margin-left: 0cm;
        height: auto;
    }
    /*CALENDARIO*/
    .calendario__foto{
        height: 600px;
        width: 750px;
    }
    .calendario__iframe{
        height: 600px;
        width: 750px;
    }
    .calendario__div{
        flex-wrap: wrap;
    }
    .cuerdas__div {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
@media (min-width:770px) and (max-width:1025px) {
        /*CONTACTO*/
        .contacto__foto{    
            height: 600px;
            width: 1000px;
            justify-items: center;
        }
        .formulario__fieldset{
            padding-right: 10cm;
            padding-left: 10cm;
            width: 100%;
            margin-left: 0cm;
            height: auto;
        }
        /*CALENDARIO*/
        .calendario__foto{
            height: 800px;
            width: 1000px;
        }
        .calendario__iframe{
            height: 800px;
            width: 1000px;
        }
        .calendario__div{
            flex-wrap: wrap;
        }
        .cuerdas__div {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }    
}
@media (min-width:539px)and (max-width:541px) {
    .calendario__foto{
        height: 460px;
        width: 540px;
    }
    .calendario__iframe{
        height: 500px;
        width: 540px;
    }
    .contacto__foto{    
        height: 400px;
        width: 540px;
        justify-items: center;
    }
}
@media (min-width:1008px) and (max-width:1524px) {
    .calendario__div{
        flex-wrap: wrap;
    }
    .calendario__foto{
        height: 750px;
        width: 1000px;
    }
    .calendario__iframe{
        height: 750px;
        width: 1000px;
    }

}
@media (min-width:747px) and (max-width:1000px) {
    .calendario__foto{
        height: 700px;
        width: 800px;
    }
    .calendario__iframe{
        height: 700px;
        width: 800px;
    }
    .contacto__foto{    
        height: 625px;
        width: 800px;
        justify-items: center;
    }

}