/*GENERAL*/
*{
    margin: 0cm;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Heldane',serif;;
}
.navbar-collapse{
    justify-content: flex-end;
}
.bg-light{
    background-color: white !important;
}
.nav-link{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
    font-size: 0.8rem;
    font-family: 'Fabriga',sans-serif;
}

.nav-link:hover {
    color: rgb(132, 162, 218)!important;
}
footer{
    justify-items: end;
    padding: 0.1cm;
    grid-area: footer;
}
/*HOME*/
.mainIndex0{
    display: flex;
    flex-direction: column;
}
.divIndex2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(247, 247, 245);
    flex-wrap: wrap;
}
.divIndex2__titulo{
    text-align: center;
    font-size: 12mm;
    padding-top: 2.75cm;
    font-family: 'Heldane',serif;
    color: rgb(116, 116, 98);
    margin-bottom: 0.25cm;
}
.divIndex2__texto{
    padding: 0.75cm 0.25cm 0.75cm 0.25cm; 
    line-height: 0.75cm;
    font-family: 'Heldane',serif;
    text-align: center;
    font-size: 6mm;
    background-color: rgb(247, 247, 245);
    margin-bottom: 0.25cm;
}
.divIndex3__texto{
    text-align: center;
    font-size: 10mm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    font-family: 'Heldane',serif;
    font-weight: bold;
    margin-bottom: 0cm;
    animation-duration: 2s;
    animation-name: fadeInDown;
}
.divIndex4{
    background-color: rgb(247, 247, 245);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}
.divIndex4__texto{
    text-align: center;
    padding-top: 0.5cm;
    margin-bottom: 0.5cm;
}

/*EVENTOS*/
.eventos{
    font-size: 10mm;
    padding-left: 0.5cm;
    color: rgb(44, 44, 36);
    box-sizing: content-box;
    background-color: rgb(199, 199, 187);
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.row{
    align-items: center;
}
.coropalooza{
    background-color: rgb(247, 247, 245);
}
/*INTEGRANTES*/
.integrantes{
    font-size: 10mm;
    padding-left: 0.5cm;
    color: rgb(44, 44, 36);
    box-sizing: content-box;
    background-color: rgb(199, 199, 187);
}
.integrantes_img{
    width: 145px;
}
/*explicación*/
.integrantes__explicacion{
    padding: 0.5cm 0.35cm 1cm 0.35cm; 
    line-height: 0.75cm;
    font-family: 'Heldane',serif;
    text-align: center;
    font-size: 4mm;
}
/*titulos*/
.mesaChica__titulo{
    font-size: 8mm;
    text-align: center;
    color: rgb(68, 68, 56);
    background-color: rgb(247, 247, 245);
    box-sizing: border-box;
}
.cuerdas__titulo{
    font-size: 8mm;
    text-align: center;
    color: rgb(68, 68, 56);
    background-color: rgb(247, 247, 245);
    box-sizing: border-box;
}
/*img mesa chica*/
.mesaChica__imágenes0{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Cuerdas*/
.cuerdas__subtitulo{
    font-size: 6.75mm;
    font-weight: bold;
    text-align:center;
    color: rgb(78, 78, 64);
    padding-top: 1.5cm;
}
.cuerdas__div{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.cuerdas__imágenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/*CALENDARIO*/
.calendario__titulo{
    font-size: 10mm;
    padding-left: 0.5cm;
    color: rgb(44, 44, 36);
    box-sizing: content-box;
    background-color: rgb(199, 199, 187);
}
.calendario__div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0.2cm;
}
.calendario__foto{
    width: 765px;
}
/*CONTACTO*/
.contacto__titulo{
    font-size: 10mm;
    padding-left: 0.5cm;
    color: rgb(44, 44, 36);
    box-sizing: content-box;
    background-color: rgb(199, 199, 187);
}
.contacto__section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contacto-form{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
.formulario__fieldset{
    margin-left: 0.5cm;
    line-height: 0.45cm;
    background-color: rgb(247, 247, 245);
    width: 90%;
    height: 16.8cm;
    padding-right: 3cm;
    padding-left: 0.5cm;
    padding-top: 0.5cm;
}
.contacto__foto{
    margin-right: 0.02cm;
    margin-top: 0.2cm;
    height: 16.7cm;
    width: 27.7cm;
}
